main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.blacken {
    animation: black 2s ease-out forwards;
}

@keyframes black {
    0% {background-color: white;}
    100% {background-color: black;}
}

.myVideo {
    position: fixed;
    bottom: 0;
    min-height: 100%;
    animation: tilt 14s forwards;
}

@keyframes tilt {
    0% {transform: rotate(0deg);}
    32% {transform: rotate(0deg);}
    60% {transform: rotate(90deg);}
    75% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

section div {
    background-color: white;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    z-index: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section h1 {
    font-size: 4em;
    white-space: nowrap;
    color: white;
    margin-top: 170px;
    animation: expand 11s ease-in-out forwards;
}

@keyframes expand {
    0% {width:0px;}
    100% {width:4230px;}
}

h1 span {
    font-size: 1.5em;
    animation: end 11s ease-out forwards;
}

.change {
    animation: move 6s ease-out infinite;
}

@keyframes move {
    0% {color:white; font-size: 1.5em;}
    20% {color:violet; font-size: 1.5em;}
    40% {color:lightseagreen; font-size: 1.5em;}
    60% {color:lightgreen; font-size: 1.5em;}
    75% {color:rgb(222, 118, 13); font-size: 1.5em;}
    85% {color:rgb(183, 10, 79); font-size: 1.5em;}
    100% {color:white; font-size: 1.5em;}

}

.darken {
    animation: darkani 3s ease-out forwards;
}

@keyframes darkani {
    0% {opacity:1}
    100% {opacity:0.3}
}

@keyframes end {
    0% {font-size: 1em;}
    75% {font-size: 1em;}
    100% {font-size: 1.5em;}
}

h1 span:hover {
    font-size: 2em;
    cursor: pointer;
}

@keyframes final {

}