body {
    background-color: black;
    color: white;
    font-family: 'Gelasio', serif;
    letter-spacing: 0.2em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 180px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

#highlight {
    display: flex;
    width: 100%;
}

.line {
    background-color: white;
    height: 1px;
    width: 50%;
}

h1{
    font-weight: 300;
    font-size: 3em;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2.4em;
    line-height: 0;
    letter-spacing: 0.04em;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
}

#lightbox {
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.gimg {
    object-fit: cover;
    object-position: center;
}

.gimg:hover {
    opacity: 0.7;
    cursor: pointer;
}

#previous img{
    width:800px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.3;
}

#current {
    width: 1000px;
    margin-top: 120px;
    margin-bottom: 100px;
}
#current img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

#current h1 {
    margin:0;
    margin-top:20px;
    color: white;
}

#next img{
    width:800px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    opacity: 0.3;
}

.hidden {
    opacity:0
}

.show {
    opacity:1;
    animation: appear 1s ease-out forwards;
}

@keyframes appear {
    0% {opacity:0}
    100% {opacity:1}
}